body {
    background: rgb(58, 57, 57);
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}

.navbar {
    font-family: 'Open Sans', sans-serif !important;
    letter-spacing: 2px !important;
    background-color: rgb(80, 77, 77) !important;
    padding: 20px !important;
}

.navbar-brand {
    color: white !important;
}

.navbar-brand:hover {
    color: rgb(255, 159, 159) !important;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: rgb(255, 159, 159) !important;
}

.active {
    color: rgb(163, 162, 162) !important;
}

.portfolio-title {
    color: white;
    text-align: center;
    margin-top: 50px;
}

.big-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-container {
    background: rgb(66, 66, 66);
    width: 900px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 6px;
    -moz-box-shadow: 0 3px 5px #444343;
    -webkit-box-shadow: 0 3px 5px #444343;
    -o-box-shadow: 0 3px 5px #444343;
    -ms-box-shadow: 0 3px 5px #444343;
    box-shadow: 0 3px 5px #444343;
}

.description {
    text-align: center;
    margin: auto 50px;
}

.profile-img {
    width: 200px;
    margin: 20px;
    border-radius: 6px;
}

.links {
    margin-top: 20px;
}

.home-link {
    text-decoration: none;
    color: white;
}

.home-link:hover {
    color: rgb(255, 159, 159);
    cursor: pointer;
}

@media(max-width: 940px) {
    .description-container {
        width: 800px;
    }
}

@media(max-width: 840px) {
    .description-container {
        width: 700px;
    }
}

@media(max-width: 750px) {
    .description-container {
        width: 600px;
        font-size: 16px;
        height: 400px;
    }

    .portfolio-title {
        font-size: 25px;
    }
}

@media(max-width: 640px) {
    .description-container {
        flex-direction: column;
        height: auto;
        width: auto;
        padding: 30px;
        margin: 30px;
    }

    .navbar-brand {
        font-size: 16px !important;
    }
}

@media(max-width: 360px) {
    .navbar-brand {
        font-size: 12px !important;
    }
}




/* PROFILE */

.profile-container {
    display: flex;
    flex-direction: column;
    margin: 100px 50px;
}

.accordion-button {
    font-family: 'Open Sans', sans-serif !important;
    letter-spacing: 2px !important;
    background: rgb(80, 77, 77) !important;
    color: white;
}

.accordion-item {
    --bs-accordion-border-color: rgb(255, 159, 159);
}

.accordion {
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.08rem rgb(255, 255, 255);
}

.accordion-collapse {
    background: rgb(58, 57, 57) !important;
    color: white !important;
}

.accordion-button::before {
    color: white !important;
}

.accordion-button::after {
    color: white !important;
}

.accordion-button:not(.collapsed) {
    color: white !important;
}

.github-link,
.certification-icon {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.github-link:hover,
.certification-icon:hover {
    color: rgb(255, 159, 159);
}

@media(max-width: 460px) {
    .profile-container {
        margin: 100px 30px;
    }
}




/* PROJECTS */

.projects-carousel-container {
    margin-top: 50px;
}

.project-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background: rgb(80, 77, 77);
    border-radius: 6px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 80px;
    height: 400px;
}

.project-img {
    width: 600px;
    border-radius: 6px;
}

.img-container{
    display: flex;
    justify-content: center;
}

.img-container,
.project-container {
    width: 35%;
}

.project-container {
    color: white;
    font-size: 25px;
}

.project-title {
    font-weight: 800;
    font-size: 30px;
}

.project-link {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.project-link:hover {
    color: rgb(255, 159, 159);
}

.fa-github,
.fa-square-arrow-up-right {
    font-size: 30px;
}

@media(max-width: 2200px) {

    .img-container,
    .project-container {
        width: 40%;
    }

    .project-container {
        font-size: 20px;
    }

    .project-title {
        font-size: 25px;
    }

    .fa-github,
    .fa-square-arrow-up-right {
        font-size: 25px;
    }

}

@media(max-width: 1700px) {
    .project-img {
        width: 500px;
    }

    .project-container {
        font-size: 18px;
    }

    .project-title {
        font-size: 22px;
    }

    .fa-github,
    .fa-square-arrow-up-right {
        font-size: 20px;
    }
}


@media(max-width: 1470px) {
    .project-img {
        width: 400px;
    }
}

@media(max-width: 1100px) {
    .project-slide {
        flex-direction: column;
        height: 600px;
    }

    .img-container,
    .project-container {
        width: 50%;
    }

    .img-container{
        display: flex;
        justify-content: center;

    }

    .project-container{
        text-align: center;
        margin-bottom: 20px;
    }

}

@media(max-width: 850px){
    .project-slide{
        height: 700px;
    }
    .project-container {
        width: 70%;
    }
}

@media(max-width: 570px){
    .project-img{
        width: 300px;
    }
}

@media(max-width: 470px){
    .project-slide{
        height: 750px;
    }
}




/* CONTACT */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.contact-info {
    background: rgb(80, 77, 77);
    padding: 50px;
    border-radius: 6px;
    color: white;
    text-align: center;
}

.custom-link {
    text-decoration: none;
    color: white;
}

.custom-link:hover {
    color: rgb(255, 159, 159);
}

.fa-location-dot,
.fa-phone,
.fa-whatsapp,
.fa-envelope,
.fa-linkedin {
    font-size: 20px;
}