body{
    background: rgb(58, 57, 57);
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}

.navbar{
    font-family: 'Open Sans', sans-serif !important;
    letter-spacing: 2px !important;
    background-color: rgb(80, 77, 77) !important;
    padding: 20px !important;
}

.navbar-brand{
    color:white !important;
}

.navbar-brand:hover{
    color:rgb(255, 159, 159) !important;
}

.nav-link{
    color:white !important;
}

.nav-link:hover{
    color:rgb(255, 159, 159) !important;
}

.active{
    color:rgb(163, 162, 162) !important;
}

.portfolio-title{
    color:white;
    text-align: center;
    margin-top: 50px;
}

.big-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-container{
    background: rgb(66, 66, 66);
    width:900px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 6px;
    -moz-box-shadow: 0 3px 5px #444343;
    -webkit-box-shadow: 0 3px 5px #444343;
    -o-box-shadow: 0 3px 5px #444343;
    -ms-box-shadow: 0 3px 5px #444343;
    box-shadow: 0 3px 5px #444343;
}

.description{ 
    text-align: center;
    margin: auto 50px;
}

.profile-img{
    width: 200px;
    margin: 20px;
    border-radius: 6px;
}

.links{
    margin-top: 20px;
}

.home-link{
    text-decoration: none;
    color:white;
}

.home-link:hover{
    color:rgb(255, 159, 159);
    cursor: pointer;
}

/* PROFILE */

.profile-container{
    display: flex;
    flex-direction: column;
    margin: 100px 50px;
}

.accordion-button{
    font-family: 'Open Sans', sans-serif !important;
    letter-spacing: 2px !important;
    background: rgb(80, 77, 77) !important;
    color:white;
}

.accordion-item {
    --bs-accordion-border-color:rgb(255, 159, 159);
}

.accordion {
      --bs-accordion-btn-focus-box-shadow: 0 0 0 0.08rem rgb(255, 255, 255);
}

.accordion-button::before{
    color:white !important;
}
.accordion-button::after{
    color:white !important;
}

.accordion-button:not(.collapsed) {
    color: white !important;
}




/* .profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    display: flex;
    height: 150px;
    width: 250px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  } */
  